<% layout("/layouts/boilerplate") -%>

<title>clients Dashboard</title>
<div class="container mt-xl-3">
  <div class="row">
    <div class="col-xl-8">
      <div class="card">
        <div class="card-body pb-0">
          <div class="row align-items-center">
            <div class="col-md-3">
              <div class="text-center border-end">
                <div class="img-container" >
                  <img
                  src="<%= user.image.url %>"
                  class="img-fluid avatar-xxl rounded-circle"
                  alt
                  />
                  <i class="fa-solid fa-camera img-overlay" style="background-color: rgba(128, 128, 128, 0.521);"></i>
                </div>
                <h4 class="text-primary font-size-20 mt-3 mb-2">
                  <%=user.first_name%> <%=user.last_name%>
                </h4>
                <h6>@<%=user.username%></h6>
              </div>
            </div>
            <div class="col-md-9">
              <div class="ms-3">
                <div>
                  <h4 class="card-title mb-2">Biography</h4>
                  <p class="mb-0 text-muted"><%=clients.bio%></p>
                </div>
                <div class="row my-4">
                  <div class="col-md-12">
                    <div>
                      <p class="text-muted mb-2 fw-medium">
                        <i class="mdi mdi-email-outline"></i
                        ><a href="/cdn-cgi/l/email-protection"
                          ><%=user.email%></a
                        >
                      </p>
                      <p class="text-muted fw-medium mb-0">
                        <i class="mdi mdi-phone-in-talk-outline"></i>+91
                        <%=user.phone_number%>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button
            class="nav-link active"
            id="nav-setting-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-setting"
            type="button"
            role="tab"
            aria-controls="nav-setting"
            aria-selected="false"
          >
            Settings
          </button>
          <button
            class="nav-link"
            id="nav-transaction-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-transaction"
            type="button"
            role="tab"
            aria-controls="nav-transaction"
            aria-selected="true"
            disabled
          >
            Transaction History
          </button>
          <button
            class="nav-link"
            id="nav-notification-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-notification"
            type="button"
            role="tab"
            aria-controls="nav-notification"
            aria-selected="false"
            disabled
          >
            Notifications
          </button>
          <button
            class="nav-link"
            id="nav-document-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-document"
            type="button"
            role="tab"
            aria-controls="nav-document"
            aria-selected="false"
            disabled  
          >
            Documents
          </button>
        </div>
      </nav>
      <div class="tab-content bg-white py-3 px-5 mb-5" id="nav-tabContent">
        <div
          class="tab-pane fade show active"
          id="nav-setting"
          role="tabpanel"
          aria-labelledby="nav-setting-tab"
          tabindex="0"
        >
          <form id="details-form" action="/client/edit/<%=clients._id%>?_method=PATCH" method="POST">
            <fieldset disabled id="fieldset">
              <div class="row">
                <legend class="col-4">Account Details</legend>
                <p id="editBtn" style="cursor: pointer;" class="col-4 py-2 text-primary text-decoration-underline">Edit</p>
              </div>
              <div class="row">
                <div class="mb-3 col">
                  <label for="first_name" class="form-label"
                    >First name</label
                  >
                  <input
                    type="text"
                    id="first_name"
                    class="form-control"
                    value=<%=user.first_name%>
                    disabled
                  />
                </div>
                <div class="mb-3 col">
                  <label for="last_name" class="form-label"
                    >Last name</label
                  >
                  <input
                    type="text"
                    id="last_name"
                    class="form-control"
                    value=<%=user.last_name%>
                    disabled
                  />
                </div>
              </div>
              <div class="row">
                <div class="mb-3 col">
                  <label for="username" class="form-label"
                    >Username</label
                  >
                  <input
                    type="text"
                    id="username"
                    class="form-control"
                    value=<%=user.username%>
                    disabled
                  />
                </div>
                <div class="mb-3 col">
                  <label for="phone_number" class="form-label"
                    >Phone number</label
                  >
                  <input
                    type="text"
                    id="phone_number"
                    class="form-control"
                    value=<%=user.phone_number%>
                    disabled
                  />
                </div>
              </div>
              <div class="mb-3">
                <label for="user_type" class="form-label"
                  >User role</label
                >
                <input
                  type="text"
                  id="user_type"
                  class="form-control"
                  value=<%=user.user_type%>
                  disabled
                />
              </div>
              <div class="mb-3">
                <label for="bio" class="form-label"
                  >Bio</label
                >
                <textarea
                  type="text"
                  id="bio"
                  class="form-control"
                ><%=clients.bio%></textarea>
              </div>
              <h5>Location Details</h5>
              <div class="row">
                <div class="mb-3 col">
                  <label for="location[country]" class="form-label"
                    >Country</label
                  >
                  <input
                    type="text"
                    id="country"
                    name="location[country]"
                    class="form-control"
                    value=<%=clients.location.country%>
                  />
                </div>
                <div class="mb-3 col">
                  <label for="location[state]" class="form-label"
                    >State</label
                  >
                  <input
                    type="text"
                    name="location[state]"
                    id="state"
                    class="form-control"
                    value="<%=clients.location.state%>"
                  />
                </div>
              </div>
              <div class="row">
                <div class="mb-3 col">
                  <label for="location[city]" class="form-label"
                    >City</label
                  >
                  <input
                    type="text"
                    id="city"
                    name="location[city]"
                    class="form-control"
                    value=<%=clients.location.city%>
                  />
                </div>
                <div class="mb-3 col">
                  <label for="location[pincode]" class="form-label"
                    >Pincode</label
                  >
                  <input
                    type="number"
                    name="location[pincode]"
                    id="pincode"
                    maxlength="4"
                    minlength="4"
                    class="form-control"
                    value="<%=clients.location.pincode%>"
                  />
                </div>
              </div>
              <button type="submit" id="submitBtn" class="btn btn-primary d-none">Submit</button>
            </fieldset>
          </form>
        </div>
        <div
          class="tab-pane fade"
          id="nav-transaction"
          role="tabpanel"
          aria-labelledby="nav-transaction-tab"
          tabindex="0"
        >
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat nisi
          tempora aut cupiditate deserunt consequatur inventore dolor vitae
          excepturi quia explicabo asperiores recusandae perspiciatis et, eaque
          omnis repellendus? Rerum maxime exercitationem labore placeat numquam
          tempora incidunt soluta, nulla harum commodi nihil modi explicabo,
          eaque eos ad itaque porro sunt! Tempora quidem beatae laboriosam
          aspernatur aliquid. Vero aliquid, doloribus voluptatem magni saepe
          deleniti asperiores voluptas consequuntur aliquam nulla ducimus quae
          optio aut facere beatae harum debitis quisquam a cumque? Ullam nobis
          facilis cupiditate incidunt! Deleniti quos explicabo inventore ullam,
          pariatur non aut doloremque vero id soluta necessitatibus ea laborum
          minus magni reprehenderit! Molestias nihil repellendus veritatis
          impedit cumque quidem voluptates magni perferendis! Ullam fugiat
          repellat quo odit, cumque et ipsam nihil. Soluta, accusamus.
        </div>
        <div
          class="tab-pane fade"
          id="nav-notification"
          role="tabpanel"
          aria-labelledby="nav-notification-tab"
          tabindex="0"
        >
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat nisi
          tempora aut cupiditate deserunt consequatur inventore dolor vitae
          excepturi quia explicabo asperiores recusandae perspiciatis et, eaque
          omnis repellendus? Rerum maxime exercitationem labore placeat numquam
          tempora incidunt soluta, nulla harum commodi nihil modi explicabo,
          eaque eos ad itaque porro sunt! Tempora quidem beatae laboriosam
          aspernatur aliquid.
        </div>
        <div
          class="tab-pane fade"
          id="nav-document"
          role="tabpanel"
          aria-labelledby="nav-document-tab"
          tabindex="0"
        >
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat nisi
          tempora aut cupiditate deserunt consequatur inventore dolor vitae
          excepturi quia explicabo asperiores recusandae perspiciatis et, eaque
          omnis repellendus?
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card">
        <div class="card-body">
          <div class="pb-2">
            <h4 class="card-title mb-3">Active Booking</h4>
            <% booking.forEach(item => { %> <%if(!item.status) {%>
            <div class="card mb-3" style="max-width: 540px">
              <div class="row g-0">
                <div class="col-md-4">
                  <img
                    src="<%=item.providerId.user.image.url%>"
                    class="img-flid rounded-start"
                    alt="Provider Image"
                  />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title"><%item.providerId%></h5>

                    <b
                      ><%= item.providerId.user.first_name %> <%=
                      item.providerId.user.last_name %></b
                    >
                    <br />
                    <small class="text-body-secondary fs-9"
                      >note: <%= item.description %></small
                    >
                    <br />
                    <small>
                      Booking Date: <%= item.date.toDateString()%>
                    </small>
                    <br />
                    <% if(item.confirmationStatus == "pending") {%>
                    <small> Status: Pending </small>
                    <%}else if(item.confirmationStatus == "confirmed"){%>
                    <small> Status: Confirmed </small>
                    <%}else if(item.confirmationStatus == "canceled") {%>
                    <small> Status: Canceled </small>
                    <%}else{%>
                    <small> Status: N/A </small>
                    <%}%>
                  </div>
                </div>
              </div>
            </div>
            <%}%> <% }) %>
            <hr />
            <h4 class="card-title mb-3">Completed Booking</h4>
            <% booking.forEach(item => { %> <%if(item.status) {%>
            <div class="card mb-3" style="max-width: 540px">
              <div class="row g-0">
                <div class="col-md-4">
                  <img
                    src="<%=item.providerId.user.image.url%>"
                    class="img-flid rounded-start"
                    alt="Provider Image"
                  />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title"><%item.providerId%></h5>

                    <b
                      ><%= item.providerId.user.first_name %> <%=
                      item.providerId.user.last_name %></b
                    >
                    <br />
                    <small class="text-body-secondary fs-9"
                      ><%= item.providerId.bio %></small
                    >

                    <small>
                      Booking Date: <%= item.date.toDateString()%>
                    </small>
                    <br />
                    <% if(item.confirmationStatus == "pending") {%>
                    <small> Status: Pending </small>
                    <%}else if(item.confirmationStatus == "confirmed"){%>
                    <small> Status: Confirmed </small>
                    <%}else if(item.confirmationStatus == "canceled") {%>
                    <small> Status: Canceled </small>
                    <%}else{%>
                    <small> Status: N/A </small>
                    <%}%>
                  </div>
                </div>
              </div>
            </div>
            <%}%> <% }) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  // let uploadFile = document.getElementById("upload-file");
  // let changeBtn = document.getElementById("changeBtn");
  // changeBtn.addEventListener("click", () => {
  //   uploadFile.style.display = "block";
  // });

  let fieldSet = document.getElementById("fieldset");
  let editBtn = document.getElementById("editBtn");
  let submitBtn = document.getElementById("submitBtn");

  editBtn.addEventListener('click',()=>{
    fieldSet.removeAttribute("disabled");
    submitBtn.classList.remove("d-none");
  })
</script>
