<% layout("/layouts/boilerplate") -%>

<title>clients Dashboard</title>

<h2>Welcome <%=user.first_name%> <%=user.last_name%> to the dashboard</h2>
<h4>bio: <%=clients.bio%></h4>
<div class="profile-pic">
  <img src="<%= user.image.url %>" alt="can't load image" />
  Profile Pic
  <a href="/logout">logout</a>
  <a href="/clients/edit/<%=clients._id%>">Edit Details</a>
  <button id="changeBtn">Change Profile Photo</button>
  <div id="upload-file">
    <form
      action="/<%=user._id%>/?_method=PUT"
      method="POST"
      enctype="multipart/form-data"
    >
      <input
        type="file"
        name="user[image]"
        placeholder="Upload new image"
        required
      />
      <button>Make changes</button>
    </form>
  </div>
</div>
<div class="details">
  <div class="field">
    <p>First Name: <%= user.first_name %></p>
    <p>Last Name: <%= user.last_name %></p>
  </div>
  <div class="field">
    <p>Username: <%= user.username %></p>
    <p>Email: <%= user.email %></p>
  </div>
  <div class="field">
    <p>Phone Number: <%= user.phone_number %></p>
    <p>User Type: <%= user.user_type %></p>
  </div>
</div>
<p>Location</p>
<div class="location">
  <p>Country: <%=clients.location.country%></p>
  <p>State: <%=clients.location.state%></p>
  <p>City: <%=clients.location.city%></p>
  <p>Pincode: <%=clients.location.pincode%></p>
</div>
<script>
  let uploadFile = document.getElementById("upload-file");
  let changeBtn = document.getElementById("changeBtn");
  changeBtn.addEventListener("click", () => {
    uploadFile.style.display = "block";
  });
</script>
