<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Provider Dashboard</title>
    <style>
      * {
        box-sizing: border-box;
      }
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      .field {
        display: inline-block;
      }
      .field p {
        border: 2px solid black;
        padding: 5px;
      }
      .profile-pic {
        width: 150px;
        position: absolute;
        right: 30px;
        top: 30px;
      }
      .profile-pic img {
        width: 100%;
      }
      .tags {
        background-color: yellowgreen;
        padding: 5px;
        border-radius: 10px;
        margin: 5px;
      }
      #upload-file {
        display: none;
      }
    </style>
  </head>
  <body>
    <h1>Welcome <%=user.first_name%> <%=user.last_name%> to your dashboard</h1>
    <h4>bio: <%=provider.bio%></h4>
    <div class="profile-pic">
      <img src="<%= user.image.url %>" alt="" />
      Profile Pic
      <a href="/logout">logout</a>
      <a href="/provider/edit/<%=provider._id%>">Edit Details</a>
      <button id="changeBtn">Change Profile Photo</button>
      <div id="upload-file">
        <form
          action="/<%=user._id%>/?_method=PUT"
          method="POST"
          enctype="multipart/form-data"
        >
          <input
            type="file"
            name="user[image]"
            placeholder="Upload new image"
            required
          />
          <button>Make changes</button>
        </form>
      </div>
    </div>
    <div class="details">
      <div class="field">
        <p>First Name: <%= user.first_name %></p>
        <p>Last Name: <%= user.last_name %></p>
      </div>
      <div class="field">
        <p>Username: <%= user.username %></p>
        <p>Email: <%= user.email %></p>
      </div>
      <div class="field">
        <p>Phone Number: <%= user.phone_number %></p>
        <p>User Type: <%= user.user_type %></p>
      </div>
    </div>
    <p>Location</p>
    <div class="location">
      <p>Country: <%=provider.location.country%></p>
      <p>State: <%=provider.location.state%></p>
      <p>City: <%=provider.location.city%></p>
      <p>Pincode: <%=provider.location.pincode%></p>
    </div>
    Tags:
    <div class="tags-container">
      <%for (tag of provider.tags) {%>
      <div class="tags"><%=tag.name%></div>
      <%}%>
    </div>
    <script>
      let uploadFile = document.getElementById("upload-file");
      let changeBtn = document.getElementById("changeBtn");
      changeBtn.addEventListener("click", () => {
        uploadFile.style.display = "block";
      });
    </script>
  </body>
</html>
