<% layout("/layouts/boilerplate") -%>

<div class="master-container" style="padding: 0px 50px">
  <section class="top-container">
    <div class="profile-1">
      <div class="img-1">
        <img src="<%= user.image.url %>" alt="profile picture" />
      </div>
      <div class="right-card">
        <div class="info">
          <h2 class="name"><%= user.first_name %> <%= user.last_name %></h2>
          <p class="address" style="text-align: left">
            <%= provider.location.city %>, <%= provider.location.state %>
            <br />
            <%= provider.location.country %>
          </p>
        </div>
        <div class="follow">
          <ul>
            <% for(tag of provider.tags) {%>
            <li class="btn-f"><button><%=tag.name%></button></li>
            <% } %>
          </ul>
        </div>
        <div class="links">
          <ul>
            <li>
              <a href=""><i class="fa-brands fa-facebook"></i></a>
            </li>
            <li>
              <a href=""><i class="fa-brands fa-x-twitter"></i></a>
            </li>
            <li>
              <a href=""><i class="fa-brands fa-linkedin"></i></a>
            </li>
            <li>
              <a href=""><i class="fa-brands fa-instagram"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="stats-container">
      <div class="stat-box">
        <img src="/assets/camera.png" alt="Shots View" />
        <p class="stat-number">2413</p>
        <p class="stat-type">Shots View</p>
      </div>
      <div class="stat-box">
        <img src="/assets/like.png" alt="Likes" />
        <p class="stat-number">1512</p>
        <p class="stat-type">Likes</p>
      </div>
      <div class="stat-box">
        <img src="/assets/comments.png" alt="Comments" />
        <p class="stat-number">642</p>
        <p class="stat-type">Comments</p>
      </div>
      <div class="stat-box">
        <img src="/assets/p.views.png" alt="Profile View" />
        <p class="stat-number">6001</p>
        <p class="stat-type">Profile View</p>
      </div>
      <div class="stat-box">
        <img src="/assets/W.views.png" alt="Website View" />
        <p class="stat-number">240</p>
        <p class="stat-type">Website View</p>
      </div>
      <div class="stat-box">
        <img src="/assets/attachment.png" alt="Attachment" />
        <p class="stat-number">52</p>
        <p class="stat-type">Attachment</p>
      </div>
    </div>
  </section>
  <section class="bottom-container">
    <div class="about-cat">
      <div class="container-ab">
        <div class="de-header">
          <button id="aboutBtn" class="tab1 active">About</button>
          <%if(currUser.user_type == "provider"){%>
          <button id="settingBtn" class="tab1">Setting</button>
          <%}%>
        </div>

        <div id="aboutSection" class="section">
          <div class="info-section">
            <strong>Email address:</strong>
            <p><%= user.email%></p>
            <hr />

            <strong>Phone Number:</strong>
            <p>+91 <%= user.phone_number%></p>
            <hr />

            <strong>Experience (in years):</strong>
            <p><%= provider.experience%></p>
            <hr />

            <strong>User role:</strong>
            <p style="text-transform: capitalize"><%= user.user_type%></p>
            <hr />
          </div>

          <div class="expertise">
            <strong>Expertise:</strong>
            <div class="tags">
              <% for(tag of provider.tags) {%>
              <span class="tag"><%=tag.name%></span>
              <% } %>
            </div>
            <hr />
          </div>

          <div class="description-section">
            <strong>Description:</strong>
            <div class="description-box">
              <p><%= provider.bio%></p>
            </div>
          </div>
        </div>

        <div id="settingSection" class="section-s hidden">
          <button class="setting-btn">Edit Profile</button>
          <button class="setting-btn">Change Password</button>
          <button class="setting-btn">Notification Preferences</button>
          <button class="setting-btn">Theme</button>
          <button class="setting-btn">Language</button>
          <button class="setting-btn">Manage Linked Accounts</button>
          <button class="setting-btn">Login Activity</button>
          <button class="setting-btn">Two-Factor Authentication</button>
          <button class="setting-btn">Help Center</button>
          <button class="setting-btn">Contact Support</button>
          <button class="setting-btn">Report</button>
          <button class="setting-btn btn-delete">Delete Account</button>
        </div>
      </div>
    </div>
    <div class="right-bottom-container">
      <div class="post-container">
        <div class="post-header">
          <button id="postsBtn" class="tab">Posts</button>
          <button id="reviewsBtn" class="tab active">Reviews</button>
          <button id="appointmentBtn" class="tab">Appointment</button>
        </div>

        <!-- Posts Section -->
        <div id="postsSection" class="section1 hidden1 cmt-input">
          <textarea
            id="postInput"
            placeholder="Please write your comment"
          ></textarea>
          <div class="action-row">
            <input type="file" id="imageUpload" class="hidden1" />
            <button class="icon-btn igg-btn" id="imageBtn">
              <img src="/assests/attachment2.png" alt="Image" />
            </button>
            <button class="icon-btn" id="emojiBtn">
              <img src="/assests/emoji.png" alt="Emoji" />
            </button>
            <button id="postBtn" class="post-btn">Post</button>
          </div>
          <div id="postContent" class="content-box"></div>
        </div>

        <!-- Reviews Section -->
        <div id="reviewsSection" class="section1 cmt-input">
          <textarea
            id="reviewInput"
            placeholder="Please write your review"
          ></textarea>
          <button id="reviewBtn" class="post-btn">Post</button>
          <div id="reviewContent" class="review-list"></div>
        </div>

        <!-- Appointment Section -->
        <div id="appointmentSection" class="section1 hidden1 cmt-input">
          <% if(currUser.user_type==="client"){ %>
          <form
            id="appointmentForm"
            action="/booking/<%=clientId%>/<%=provider._id%>"
            method="POST"
          >
            <label for="description">Description:</label>
            <textarea id="description" name="description" required></textarea>
            <label for="date">Date:</label>
            <input type="date" id="date" name="date" required />
            <button type="submit" class="post-btn">Book Appointment</button>
          </form>
          <% }else { %>
          <div class="parent-card ">
            <% for(item of appointment) { %>
            <div
              class="card"
              data-name="<%= item.clientId.user.first_name %> <%=
                      item.clientId.user.last_name %>"
              data-description="<%=item.description%>"
              data-date="<%=item.date.toDateString()%>"
              data-status="<%=item.confirmationStatus%>"
              data-id="<%= item._id%>"
              style="width: 10rem"
            >
              <img
                src="<%=item.clientId.user.image.url%>"
                class="card-img-top center"
                style="height: 10rem"
                alt=""
              />
              <div class="card-body">
                <b
                  ><%= item.clientId.user.first_name %> <%=
                  item.clientId.user.last_name %></b
                >
                <p class="hidden" id=""><%=item.description%></p>
                <br />
                <small> Booking Date: <%= item.date.toDateString()%> </small>
                <br />
                <% if(item.confirmationStatus == "pending") {%>
                <small> Status: Pending </small>
                <%}else if(item.confirmationStatus == "confirmed"){%>
                <small> Status: Confirmed </small>
                <%}else if(item.confirmationStatus == "canceled") {%>
                <small> Status: Canceled </small>
                <%}else{%>
                <small> Status: N/A </small>
                <%}%>
              </div>
            </div>
            <% } %>
          </div>
          <%}%>
          <div id="appointmentResult" class="content-box"></div>
          <!-- POPUP FOR BOOKING CONFIRMATION -->
          <div class="bg-overlay hidden" id="bg-overlay">
            <div class="booking-popup hidden" id="popup">
              <h4 class="col-5">Booking Details</h4>
              <hr />
              <div class="det-container">
                <p class="fw-bolder fs-8" id="popup-name"></p>
                <p class="fw-bolder fs-8" id="popup-date"></p>
                <p class="fw-bolder fs-8" id="popup-description"></p>
                <p class="fw-bolder w-50" id="popup-status">Current Status:</p>
                <form action="" method="POST" id="booking-form">
                  <select
                    class="form-select w-50"
                    style="text-transform: capitalize"
                    aria-label="Default select example"
                    id="status"
                    name="confirmationStatus"
                  >
                    <option selected disabled>Select status</option>
                    <option value="confirmed">confirm</option>
                    <option value="canceled">reject</option>
                    <option value="pending">pending</option>
                  </select>
                  <p
                    id="sub-text"
                    class="hidden"
                    style="font-size: 12px; padding: 5px; color: red"
                  >
                    No Changes
                  </p>
                  <button class="btn btn-success mt-3" id="approve-btn">
                    Approve Changes
                  </button>
                  <button
                    type="button"
                    class="btn btn-danger mt-3"
                    id="popup-close"
                  >
                    Close
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<script src="/js/main.js"></script>

<script>
  // let uploadFile = document.getElementById("upload-file");
  // let changeBtn = document.getElementById("changeBtn");
  // changeBtn.addEventListener("click", () => {
  //   uploadFile.style.display = "block";
  // });
  document.addEventListener("DOMContentLoaded", () => {
    const elements = document.querySelectorAll(".card");
    const popup = document.getElementById("popup");
    const popupClose = document.getElementById("popup-close");
    const subText = document.getElementById("sub-text");
    const bgOverlay = document.getElementById("bg-overlay");
    //const popupClose = document.getElementById("popup-close");

    const popupName = document.getElementById("popup-name");
    const popupDescription = document.getElementById("popup-description");
    const popupStatus = document.getElementById("popup-status");
    const popupDate = document.getElementById("popup-date");
    const approveBtn = document.getElementById("approve-btn");
    // Show popup with details
    elements.forEach((element) => {
      element.addEventListener("click", () => {
        const name = element.getAttribute("data-name");
        const description = element.getAttribute("data-description");
        const date = element.getAttribute("data-date");
        const statusData = element.getAttribute("data-status");
        const status = document.getElementById("status");
        const bookingId = element.getAttribute("data-id");
        const body = document.body;
        const form = document.getElementById("booking-form");
        form.action = `/booking/${bookingId}?_method=PATCH`;
        // Update popup content
        popupName.textContent = "Client name: " + name;
        popupDescription.textContent =
          "Appointment Description: " + description;
        popupDate.textContent = "Date: " + date;
        popupStatus.textContent = "Current Status: " + statusData;
        // Show popup
        popup.classList.remove("hidden");
        bgOverlay.classList.remove("hidden");
        popup.scrollIntoView({
          behavior: "smooth",
          block: "center",
        });
        status.addEventListener("change", () => {
          if (status.value == statusData) {
            approveBtn.classList.add("disabled");
            subText.classList.remove("hidden");
          } else {
            approveBtn.classList.remove("disabled");
            subText.classList.add("hidden");
          }
        });
      });
    });

    // Close popup
    popupClose.addEventListener("click", () => {
      popup.classList.add("hidden");
      bgOverlay.classList.add("hidden");
      status.selectedIndex = 0;
    });
    //Close popup when clicking outside the content
    // window.addEventListener("click", (e) => {
    //   if (e.target != popup) {
    //     popup.classList.add("hidden");
    //   }
    // });
  });
</script>
